[submodule "StormByte Suite - Base"]
	path = thirdparty/StormByte/base/src
	url = https://github.com/StormBytePP/StormByte.git
[submodule "thirdparty/buildmaster"]
	path = thirdparty/buildmaster
	url = https://github.com/StormBytePP/StormByte-BuildMaster.git
