[submodule "BuildMaster"]
	path = buildmaster
	url = https://github.com/StormByte-Suite/StormByte-BuildMaster.git
[submodule "StormByte Suite - Base"]
	path = thirdparty/StormByte/base/src
	url = https://github.com/StormByte-Suite/StormByte.git
