name: CMake

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Debug

jobs:
  build-linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        compiler: [gcc, clang]
        stdlib: [libstdc++, libc++]
        exclude:
        - compiler: gcc
          stdlib: libc++
    name: ${{ matrix.compiler }}-${{ matrix.stdlib }}

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install toolchain
      id: install-toolchain
      uses: stormbytepp/install-toolchain@v1
      with:
        compiler: ${{ matrix.compiler }}

    - name: Build with CMake
      uses: ashutoshvarma/action-cmake-build@master
      with:
        build-dir: ${{ github.workspace }}/build
        cc: ${{ steps.install-toolchain.outputs.c_compiler }}
        cxx: ${{ steps.install-toolchain.outputs.cxx_compiler }}
        configure-options: >-
          -G Ninja
          -DENABLE_TEST=ON
          -DENABLE_ASAN=ON
          -DWITH_SYSTEM_STORMBYTE=OFF
        build-type: ${{ env.BUILD_TYPE }}
        run-test: true
        ctest-options: --output-on-failure --test-dir ${{ github.workspace }}/build/test

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch:
          - x64
          - x86

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install toolchain
        id: install-toolchain
        uses: stormbytepp/install-toolchain@v1
        with:
          compiler: msvc
          arch: ${{ matrix.arch }}

      - name: Build with CMake
        uses: ashutoshvarma/action-cmake-build@master
        with:
          build-dir: ${{ github.workspace }}\build
          configure-options: >-
            -G Ninja
            -DENABLE_TEST=ON
            -DENABLE_ASAN=ON
            -DWITH_SYSTEM_STORMBYTE=OFF
          build-type: ${{ env.BUILD_TYPE }}

      - name: Copy DLLs
        run: |
          Copy-Item -Path "${{ github.workspace }}\build\thirdparty\StormByte\base\lib\StormByte.dll" -Destination "${{ github.workspace }}\build\test" -Force
          Copy-Item -Path "${{ github.workspace }}\build\lib\StormByte-System.dll" -Destination "${{ github.workspace }}\build\test" -Force
          
      - name: Run unit tests
        run: ctest --output-on-failure --test-dir ${{ github.workspace }}\build\test