# Deploy documentation to GitHub Pages
name: Deploy Jekyll with GitHub Pages dependencies preinstalled

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  generate-docs:
    uses: stormbytepp/stormbyte/.github/workflows/generate-doc.yml@master
    permissions:
      contents: read
      pages: write
      id-token: write
    with:
      doc_target: StormByteSystemDoc
      docs_source_dir: './docs'
